@font-face {
    font-family: "economica";
    src: url(../fonts/economica/Economica-BoldItalic-OTF.otf);
    font-weight: bold;
}

body{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* buttons Style */
button{
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    float: left;
}

#write-file {  background-color: rgb(255, 59 ,48);  }
#read-file {  background-color: rgb(0,122,255);  }
#cloud-base {  background-color: #4d4d4d;  }
#scan {  background-color: rgb(255,149,0);  }
#write-record {  background-color: rgb(76,217,100);  }
#discard-record {  background-color: #2c3e50;  }

#TOASIGN {  background-color: rgb(255,204,0);  }
#TOASIGN_2{  background-color: rgb(90,200,250);  }

/* records Style */
.record{
    margin: 10px;
    border: none;
    background-color: #fafafa;
    color: #131313;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    -webkit-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    display: block;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-size: 17px;
    line-height: 1.3333333;
    text-align: center;
}
.record * {
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.record .text{
    font-family: "economica";
    font-size: 24px;
    color: #4D4D4D;
    letter-spacing: 2px;
    margin-right: 25px;
}
.record .format{
    background-color: rgb(255,45,85);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
    margin-left: 5px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.record .ISBN{
    background-color: rgb(88,86,214);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline;
    margin-left: 5px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.record:hover {
    -moz-box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
    -webkit-box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
    box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
}
.record:active {
    top: 1px;
    -moz-box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
    -webkit-box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
    box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
}
.records:before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 100%;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 0 0 10px;
    -moz-transition: all 0.075s linear;
    -o-transition: all 0.075s linear;
    -webkit-transition: all 0.075s linear;
    transition: all 0.075s linear;
}

/* Just for putting in screen */
#zona-buttons,
#zona-record{
    display: inline-block;
}
#records-area{
    overflow: scroll;
    height: 500px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#info-area{
    background-color: #95a5a6;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    font-family: Courier;
    color: #ffffff;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 100px;
    display: block;
    overflow: scroll;
}

/* Usefull classes */
.noActive{  visibility: hidden;  }
.active{  visibility: visible;  }


